.btn {
  @extend .padded-rect--sm;
  font-size: 0.85em;
  background: $secondary-color;
  background-image: -webkit-linear-gradient(top, $secondary-color, $secondary-color--4);
  background-image: -moz-linear-gradient(top, $secondary-color, $secondary-color--4);
  background-image: -ms-linear-gradient(top, $secondary-color, $secondary-color--4);
  background-image: -o-linear-gradient(top, $secondary-color, $secondary-color--4);
  background-image: linear-gradient(to bottom, $secondary-color, $secondary-color--4);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: $white;
  border: solid $secondary-color--5 2px;
  text-decoration: none;
}

.btn:hover {
  background: $secondary-color--4;
  background-image: -webkit-linear-gradient(top, $secondary-color--4, $secondary-color);
  background-image: -moz-linear-gradient(top, $secondary-color--4, $secondary-color);
  background-image: -ms-linear-gradient(top, $secondary-color--4, $secondary-color);
  background-image: -o-linear-gradient(top, $secondary-color--4, $secondary-color);
  background-image: linear-gradient(to bottom, $secondary-color--4, $secondary-color);
  text-decoration: none;
  cursor: pointer;
}