//.text--body {
//  font-family: $open-sans;
//}

.text--header{
  font-family: $playfair-display;
}

body {
  font-family: $open-sans;
  font-size: 2vw;
}

.page {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
}

.container--contents-centered {
  @extend .container;
  flex-direction: column;
  align-items: center;
}

.container--filled {
   background: $secondary-color;
 }

.container--opaque {
  background: $secondary-color--opaque;
}

.padded--lg {
  padding: 4em;
}

.padded--med {
  padding: 2em;
}

.padded--sm {
  padding: 1em;
}

.padded-rect--sm {
  padding: 0.5em 1em;
}

.centered {
  text-align: center;
}
