//.text--body {
//  font-family: $open-sans;
//}

.text--header{
  font-family: $playfair-display;
}

* {
  font-family: $open-sans;
}

.page {
  width: 80%;
  margin: 0 auto;
}

.container--filled {
  background: $secondary-color;
}

.container--padded {
  padding: 2em;
}