@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

$base-color: #3D3D3D;

$secondary-color: #4D9CAD;

$secondary-color--1: darken($secondary-color, 10%);
$secondary-color--2: darken($secondary-color, 20%);

$playfair-display: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;
